{% extends "page_2col.jinja" %}
{% set lexicon_title = g.lexicon.full_title %}

{% block header %}
<h2>{{ lexicon_title }}</h2>
<p><i>{{ g.lexicon.prompt }}</i></p>
{% endblock %}

{% block sb_logo %}{% endblock %}
{% block sb_characters %}<a 
    {% if current_page == "characters" %}class="current-page"
    {% else %}href="{{ url_for('lexicon.characters.list', lexicon_name=g.lexicon.name) }}"
    {% endif %}>Characters</a>{% endblock %}
{% block sb_contents %}<a 
    {% if current_page == "contents" %}class="current-page"
    {% else %}href="{{ url_for('lexicon.contents', lexicon_name=g.lexicon.name) }}"
    {% endif %}>Contents</a>{% endblock %}
{% block sb_posts %}<a 
    {% if current_page == "posts" %}class="current-page"
    {% else %}href="{{ url_for('lexicon.posts.list', lexicon_name=g.lexicon.name) }}"
    {% endif %}>Posts</a>{% endblock %}
{% block sb_rules %}<a 
    {% if current_page == "rules" %}class="current-page"
    {% else %}href="{{ url_for('lexicon.rules', lexicon_name=g.lexicon.name) }}"
    {% endif %}>Rules</a>{% endblock %}
{% block sb_settings %}<a 
    {% if current_page == "settings" %}class="current-page"
    {% else %}href="{{ url_for('lexicon.settings.page', lexicon_name=g.lexicon.name) }}"
    {% endif %}>Settings</a>{% endblock %}
{% block sb_stats %}<a 
    {% if current_page == "statistics" %}class="current-page"
    {% else %}href="{{ url_for('lexicon.stats', lexicon_name=g.lexicon.name) }}"
    {% endif %}>Statistics</a>{% endblock %}

{% set template_sidebar_rows = [
    self.sb_characters(),
    self.sb_contents(),
    self.sb_posts(),
    self.sb_rules(),
    self.sb_settings(),
    self.sb_stats()] %}
