{% macro dashboard_lexicon_item(lexicon) %}
{% set status = "completed" if lexicon.completed else "ongoing" if lexicon.started else "unstarted" %}
<div class="dashboard-lexicon-item dashboard-lexicon-{{ status }}">
    <p>
        <span class="dashboard-lexicon-item-title">
            <a href="#{#{ url_for('lexicon.contents', name=lexicon.cfg.name) }#}">
                {{ lexicon.full_title }}</a>
        </span>
        [{{ lexicon.status.capitalize() }}]
    </p>
    <p><i>{{ lexicon.prompt }}</i></p>
    {% if current_user.is_authenticated %}
    <p>
        {# TODO #}
        {# {%
            if current_user.uid in lexicon.cfg.join.joined
            or current_user.is_site_admin
        %} #}
        Editor: {#{ lexicon.cfg.editor|user_attr('username') }#} /
        Players:
        {# {% for uid in lexicon.cfg.join.joined %} #}
        {# {{ uid|user_attr('username') }}{% if not loop.last %}, {% endif %} #}
        {# {% endfor %} #}
        {# ({{ lexicon.cfg.join.joined|count }}/{{ lexicon.cfg.join.max_players }}) #}
        {# {% else %} #}
        {# Players: {{ lexicon.cfg.join.joined|count }}/{{ lexicon.cfg.join.max_players }} #}
        {# {% if lexicon.cfg.join.public and lexicon.cfg.join.open %} #}
        {# / <a href="{{ url_for('lexicon.join', name=lexicon.cfg.name) }}"> #}
            {# Join game #}
        {# </a> #}
        {# {% endif %} #}
        {# {% endif %} #}
    </p>
    {% endif %}
</div>
{% endmacro %}

{% macro dashboard_user_item(user) %}
<div class="dashboard-lexicon-item">
    <p>
        <b>{{ user.username }}</b> {% if user.username != user.display_name %} / {{ user.display_name }}{% endif %} (id #{{user.id}}){% if user.is_site_admin %} <b>[ADMIN]</b>{% endif %}
    </p>
    <p>Last activity: {{ user.last_activity }} &mdash; Last login: {{ user.last_login }}</p>
</div>
{% endmacro %}