{% extends "page_2col.html" %}
{% block title %}Admin | Amanuensis{% endblock %}
{% block header %}<h2>Amanuensis - Admin Dashboard</h2>{% endblock %}

{% block sb_topline %}<b>{{ current_user.displayname }}</b>{% endblock %}
{% block sb_logout %}<a href="{{ url_for('auth.logout') }}">Log out</a>{% endblock %}
{% block sb_home %}<a href="{{ url_for('home.home') }}">Home</a>{% endblock %}
{% set template_sidebar_rows = [self.sb_topline(), self.sb_logout(), self.sb_home()] %}

{% block main %}
<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>{{ form.lexiconName.label }}<br>{{ form.lexiconName(size=32) }}</p>
		<p>{{ form.configText.label }}<br>{{ form.configText(rows=20) }}</p>
		<p>{{ form.submit() }}</p>
	</form>
{% endblock %}
{% set template_content_blocks = [self.main()] %}