{% extends "page_2col.html" %}
{% import 'macros.html' as macros with context %}
{% block title %}Admin | Amanuensis{% endblock %}
{% block header %}<h2>Amanuensis - Admin Dashboard</h2>{% endblock %}

{% block sb_home %}<a href="{{ url_for('home.home') }}">Home</a>{% endblock %}
{% block sb_create %}<a href="{{ url_for('home.admin_create') }}">Create a lexicon</a>{% endblock %}
{% set template_sidebar_rows = [self.sb_home(), self.sb_create()] %}

{% block main %}
<p>Users:</p>
{% for user in users %}
{{ macros.dashboard_user_item(user) }}
{% endfor %}
<p>Lexicons:</p>
{% for lexicon in lexicons %}
{{ macros.dashboard_lexicon_item(lexicon) }}
{% endfor %}
{% endblock %}
{% set template_content_blocks = [self.main()] %}