:root {
	--button-default: #dddddd;
	--button-hover: #cccccc;
	--button-current: #bbbbbb;
}
body {
	background-color: #eeeeee;
	line-height: 1.4;
	font-size: 16px;
}
main {
	max-width: 800px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}
header {
	padding: 5px;
	margin: 5px;
	background-color: #ffffff;
	box-shadow: 2px 2px 10px #888888;
	border-radius: 5px;
	overflow: auto;
	position: relative;
}
header p, header h2 {
	margin: 5px;
}
div#login-status {
	text-align: right;
	position: absolute;
	top: 10px;
	right: 10px;
}
nav {
	width: 200px;
	float:left;
	margin:5px;
	padding: 8px;
	text-align: center;
	background-color: #ffffff;
	box-shadow: 2px 2px 10px #888888;
	border-radius: 5px;
}
img#logo {
	max-width: 200px;
}
nav table {
	width: 100%;
	border-collapse: collapse;
}
div.citeblock table td:first-child + td a {
	justify-content: flex-end;
}
div.misclinks table td a {
	justify-content: center;
}
table a {
	display: flex;
	padding: 3px;
	background-color: var(--button-default);
	border-radius: 5px;
	text-decoration: none;
}
nav table a {
	justify-content: center;
}
table a:hover {
	background-color: var(--button-hover);
}
nav table a.current-page {
	background-color: var(--button-current);
}
nav table a.current-page:hover {
	background-color: var(--button-current);
}
nav table td {
	padding: 0px; margin: 3px 0;
	border-bottom: 8px solid transparent;
}
article {
	margin: 5px;
}
article.content-2col {
	position: absolute;
	right: 0px;
	left: 226px;
	max-width: 564px;
}
section {
	background-color: #ffffff;
	box-shadow: 2px 2px 10px #888888;
	margin-bottom: 5px;
	padding: 10px;
	width: auto;
	border-radius: 5px;
	word-break: break-word;
}
a.phantom {
	color: #cc2200;
}
div.citeblock a.phantom {
	font-style: italic;
}
span.signature {
	text-align: right;
}
textarea.fullwidth {
	resize: vertical;
	width: 100%;
	box-sizing: border-box;
}
input.fullwidth {
	width: 100%;
	box-sizing: border-box;
}
form#session-settings p {
	line-height: 1.8em;
}
form#lexicon-join {
	text-align: center;
}
div.dashboard-lexicon-item {
	margin: 0 10px;
	padding: 0 10px;
	border-left: 3px solid black;
}
ul.blockitem-list {
	list-style: none;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0.5em;
	margin-inline-end: 0.5em;
	padding-inline-start: 0;
	padding-inline-end: 0;
}
ul.blockitem-list li {
	border-inline-start: 3px solid black;
	padding-inline-start: 0.5em;
}
ul.blockitem-list * {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}
ul.blockitem-list pre {
	background-color: lightgray;
	padding-block-start: 2px;
	padding-block-end: 2px;
	padding-inline-start: 2px;
	padding-inline-end: 2px;
	border: 1px solid gray;
	border-radius: 2px;
	font-size: smaller;
	white-space: break-spaces;
}
div.dashboard-lexicon-unstarted {
	border-left-color: blue;
}
div.dashboard-lexicon-ongoing {
	border-left-color: goldenrod;
}
div.dashboard-lexicon-completed {
	border-left-color: green;
}
div.dashboard-lexicon-item span.dashboard-lexicon-item-title {
	font-size: 1.5em;
	font-weight: bold;
}
div.dashboard-lexicon-item p {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}
ul.unordered-tabs {
	list-style: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-block-start: 0;
	padding-block-end: 0;
	padding-inline-start: 0;
	padding-inline-end: 0;
}
ul.unordered-tabs li {
	display: inline-block;
	margin: 3px;
}
ul.unordered-tabs li a {
	background-color: var(--button-current);
	display: flex;
	border: 5px solid var(--button-current);
	border-radius: 5px;
	text-decoration: none;
}
ul.unordered-tabs li a[href] {
	background-color: var(--button-default);
	border-color: var(--button-default);
}
ul.unordered-tabs li a[href]:hover {
	background-color: var(--button-hover);
	border-color: var(--button-hover);
}
details.setting-help {
	margin-block-start: 1em;
	margin-block-end: 1em;
}
#index-definition-table td:nth-child(2) {
	width: 100%;
}
#index-definition-table td:nth-child(2) *:only-child {
	box-sizing: border-box;
	width: 100%;
}
#index-definition-table td input[type=number] {
	width: 4em;
}
p.post-byline {
	color: #606060;
	text-align: right;
}
@media only screen and (max-width: 816px) {
	main {
		padding: 5px;
	}
	header {
		max-width: 554px;
		margin: 0 auto;
	}
	nav {
		max-width: 548px;
		width: inherit;
		float: inherit;
		margin: 10px auto;
	}
	article{
		margin: 10px auto;
	}
	article.content-1col {
		max-width: 564px;
	}
	article.content-2col {
		max-width: 564px;
		position: static;
		right: inherit;
	}
	img#logo {
		max-width: inherit;
		width: 100%;
	}
}