{% extends "lexicon.jinja" %}
{% set current_page = "contents" %}
{% block title %}Index | {{ lexicon_title }}{% endblock %}

{% block main %}
<section>
{% for message in get_flashed_messages() %}
<span style="color:#ff0000">{{ message }}</span><br>
{% endfor %}

{% for index in indexed %}
<b>{{ index }}</b>
{% if indexed[index] %}
<ul>
{% for article in indexed[index] %}
<li><a href="{{ article.title|articlelink }}" class="{{ 'phantom' if not article.character else '' }}">
    {{ article.title }}
</a></li>
{% endfor %}
</ul>
{% endif %}
{% endfor %}
</section>
{% endblock %}
