{% extends "lexicon.jinja" %}
{% set current_page = "statistics" %}
{% block title %}Session | {{ lexicon_title }}{% endblock %}

{% block main %}
<section>
Placeholder text
</section>
{% endblock %}
