{% if character and not article %}
{% set characters = [character] %}
{% endif %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Editor</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='editor.css') }}">
	<script>
		params = {
			updateURL: "{{ url_for('lexicon.editor_update', name=g.lexicon.name) }}",
			{% if character %}
			character: {{ jsonfmt(character) }},
			{% else %}
			character: null,
			{% endif %}
			{% if article %}
			article: {{ jsonfmt(article) }},
			{% else %}
			article: null,
			{% endif %}
		};
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='editor.js') }}"></script>
</head>
<body>
	<div id="wrapper">
		<div id="editor-left" class="column">
			<div class="contentblock">
				<div id="editor-header">
					<a href="{{ url_for('lexicon.session', name=g.lexicon.name) }}">
						{{ g.lexicon.title }}
					</a>
					{% if article and not article.status.approved %}
					<button id="button-submit" onclick="submitArticle()">Submit article</button>
					{% endif %}
					<span>
						<b>
							{% if character %}
							{{ character.name }} / 
							{% endif %}
							{{ current_user.username }}
						</b>
					</span>
				</div>
				{% for char in characters %}
				<div id="editor-charselect">
					<b>{{ char.name }}</b>
					<ul>
						{% for article in articles %}
						{% if article.character == char.cid %}
						<li>
							<a href="{{ url_for('lexicon.editor', name=g.lexicon.name, cid=char.cid, aid=article.aid) }}">
								{{ article.title if article.title.strip() else "Untitled" }}
							</a>
						</li>
						{% endif %}
						{% endfor %}
						<li>
							<a href="{{ url_for('lexicon.editor_new', name=g.lexicon.name, cid=char.cid) }}">
								New
							</a>
						</li>
					</ul>
				</div>
				{% endfor %}
				{% if article %}
				<div id="editor-buttons">
					Character literals:
					<button>*</button>
					<button>/</button>
					<button>[</button>
					<button>]</button>
					<button>~</button>
				</div>
				<input id="editor-title" placeholder="Title" oninput="onContentChange()" disabled>
				<textarea id="editor-content" class="fullwidth" oninput="onContentChange()" disabled></textarea>
				{% endif %}
			</div>
		</div>
		<div id="editor-right" class="column">
			<div id="preview" class="contentblock">
				<p>This editor requires Javascript to function.</p>
			</div>
			<div id="preview-citations" class="contentblock">
				<p>&nbsp;</p>
			</div>
			<div id="preview-control" class="contentblock">
				<p>&nbsp;</p>
			</div>
		</div>
	</div>
</body>
</html>
