{% extends "page_2col.html" %}
{% block header %}<h2>{{ lexicon.title }}</h2>{% endblock %}

{% block sb_logo %}{% endblock %}
{% block sb_home %}<a href="{{ url_for('home.home') }}">Home</a>{% endblock %}
{% block sb_contents %}<a href="{{ url_for('lexicon.contents', name=lexicon.name) }}">Contents</a>{% endblock %}
{% block sb_rules %}<a href="{{ url_for('lexicon.rules', name=lexicon.name) }}">Rules</a>{% endblock %}
{% block sb_session %}<a href="{{ url_for('lexicon.session', name=lexicon.name) }}">Session</a>{% endblock %}
{% block sb_stats %}<a href="{{ url_for('lexicon.stats', name=lexicon.name) }}">Stats</a>{% endblock %}

{% set template_sidebar_rows = [
	self.sb_logo(),
	self.sb_home(),
	self.sb_contents(),
	self.sb_rules(),
	self.sb_session(),
	self.sb_stats()] %}
