{% extends "page_2col.html" %}
{% if g.lexicon.title %}
{% set lexicon_title = g.lexicon.title %}
{% else %}
{% set lexicon_title = "Lexicon " + g.lexicon.name %}
{% endif %}

{% block header %}
<h2>{{ lexicon_title }}</h2>
<p><i>{{ g.lexicon.prompt }}</i></p>
{% endblock %}

{% block sb_logo %}{% endblock %}
{% block sb_home %}<a href="{{ url_for('home.home') }}">Home</a>{% endblock %}
{% block sb_contents %}<a href="{{ url_for('lexicon.contents', name=g.lexicon.name) }}">Contents</a>{% endblock %}
{% block sb_rules %}<a href="{{ url_for('lexicon.rules', name=g.lexicon.name) }}">Rules</a>{% endblock %}
{% block sb_session %}<a href="{{ url_for('lexicon.session', name=g.lexicon.name) }}">Session</a>{% endblock %}
{% block sb_stats %}<a href="{{ url_for('lexicon.stats', name=g.lexicon.name) }}">Statistics</a>{% endblock %}

{% set template_sidebar_rows = [
	self.sb_logo(),
	self.sb_home(),
	self.sb_contents(),
	self.sb_rules(),
	self.sb_session(),
	self.sb_stats()] %}
