{% extends "lexicon/lexicon.html" %}
{% set current_page = "session" %}
{% block title %}Session | {{ lexicon_title }}{% endblock %}

{% set template_content_blocks = [] %}

{% if current_user.id == g.lexicon.editor %}
{% block bl_editor %}
<p>Editor actions</p>
<ul>
	<li><a href="{{ url_for('lexicon.settings', name=g.lexicon.name) }}">Edit lexicon settings</a></li>
</ul>
{% endblock %}
{% set template_content_blocks = template_content_blocks + [self.bl_editor()] %}
{% endif %}

{% block main %}
<p>Placeholder text for session page</p>
{% endblock %}
{% set template_content_blocks = template_content_blocks + [self.main()] %}