{% macro dashboard_lexicon_item(lexicon, anonymize) %}
<div class="dashboard-lexicon-item dashboard-lexicon-{{ lexicon.status() }}">
	<p>
		<span class="dashboard-lexicon-item-title">
			<a href="{{ url_for('lexicon.contents', name=lexicon.name) }}">
				Lexicon {{ lexicon.name }}</a>
		</span>
		[{{ lexicon.status().capitalize() }}]
	</p>
	<p><i>{{ lexicon.prompt }}</i></p>
	<p>
		{% if anonymize %}
		Players: {{ lexicon.join.joined|count }}/{{ lexicon.join.max_players }}
		{% else %}
		Editor:
		{{ lexicon.editor|user_attr('username') }} / Players:
		{% for uid in lexicon.join.joined[:-1] %}
		{{ uid|user_attr('username') }}, 
		{% endfor %}
		{{ lexicon.join.joined[-1]|user_attr('username') }}
		({{ lexicon.join.joined|count }}/{{ lexicon.join.max_players }})
		{% endif %}
	</p>
</div>
{% endmacro %}

{% macro dashboard_user_item(user) %}
<div class="dashboard-lexicon-item">
	<p>
		<b>{{ user.username }}</b>
		{% if user.username != user.displayname %} / {{ user.displayname }}{% endif %}
		({{user.uid}})
	</p>
	<p>Last activity: {{ user.last_activity|asdate }} &mdash; Last login: {{ user.last_login|asdate }}</p>
</div>
{% endmacro %}